body {
	background-image: url("http://streaming.yayimages.com/images/photographer/lzt/e2f3ab5639c1e780962f240418446b1b/background-with-animal-footprints-and-dog-and-cat-silhouette.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	font-size: 1.4em;
	font-family: Geogia, serif;
}

div#main {
	width: 80%;
	height: 50%;
	background-color: #d1a4cd;
	border: 4px solid #401d3e;
	margin: 7%;
	padding: 3%;
}

table {
	width: 100%;
}

td, th {
	text-align: left;
}

form {
	font-size: .9em;
	margin: 1%;
}

#tasks {
	width: 200px;
}

button {
	padding: 1%;
	margin: 2%;
}

td>button {
	padding: 1%;
	margin: 2%;
}
