body {
	background-image: url("http://streaming.yayimages.com/images/photographer/lzt/e2f3ab5639c1e780962f240418446b1b/background-with-animal-footprints-and-dog-and-cat-silhouette.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	font-size: 1.4em;
	font-family: Geogia, serif;
}

div#main {
	width: 50%;
	height: 50%;
	background-color: #d1a4cd;
	border: 4px solid #401d3e;
	margin: 25%;
	padding: 3%;
}

/* 
"http://streaming.yayimages.com/images/photographer/lzt/e2f3ab5639c1e780962f240418446b1b/background-with-animal-footprints-and-dog-and-cat-silhouette.jpg"
http://streaming.yayimages.com/images/photographer/lzt/f9fb2f07ab18257f6447085fc318c0ca/pet-shop-background.jpg
 */


