body {
	background-image: url("http://streaming.yayimages.com/images/photographer/lzt/7aad07e36de287bd9016a2d4c817b49a/seamless-pattern-with-colored-paws.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	font-size: 1.4em;
	font-family: Geogia, serif;
	color: #00414c;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

div#main {
	width: 80%;
	height: 50%;
	background-color: #d1a4cd;
	border: 4px solid #401d3e;
	margin: 5% 7%;
	padding: 2%;
}

table {
	width: 100%;
}

td, th {
	text-align: left;
	padding-right: 2%;
}

th {
	border-bottom: 1px double #00a3c0;
}

td#rate, td#days, th#daily, th#num {
	text-align: center;
}

form {
	font-size: .9em;
	margin: 1%;
}

#tasks {
	width: 200px;
}

button {
	padding: 1%;
	margin: 1%;
}

#delete {
	margin: 0 0 0 1%;
}

h1 {
	text-align: center;
	line-height: .3;
	font-family: cursive;
}

h3 {
	color: red;
}

/* http://streaming.yayimages.com/images/photographer/lzt/e2f3ab5639c1e780962f240418446b1b/background-with-animal-footprints-and-dog-and-cat-silhouette.jpg
http://streaming.yayimages.com/images/photographer/lzt/7aad07e36de287bd9016a2d4c817b49a/seamless-pattern-with-colored-paws.jpg */

